{% set app = salt['pillar.get']('app:app_name') %}
{% set user = salt['pillar.get']('app:user') %}
{% set group = salt['pillar.get']('app:group') %}
{% set prefix = salt['pillar.get']('app:prefix') %}
[uwsgi]
chdir           = /var/www/{{ app }}
module          = app
callable        = app
home            = /var/www/{{ app }}
master          = true
socket          = /run/{{ app }}/uwsgi.sock
chmod-socket    = 660
processes       = 1
uid             = {{ user }}
gid             = {{ group }}
vacuum          = true
pidfile         = /run/{{ app }}/uwsgi.pid
virtualenv      = {{ prefix }}/{{ app }}
plugins         = python