{% set app = salt['pillar.get']('flaskApp:app_name') %}

[Unit]
Description=uWSGI {{ app }}
After=syslog.target

[Service]
ExecStart=/usr/bin/uwsgi --ini {{ prefix }}/{{app}}/uwsgi.ini
RuntimeDirectory={{ app }}
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target